#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.encolher {
	background-color: gray;
	width: 50px !important;
}

.classe1 {
	font-weight: bold;
}

.classe2 {
	color: red;
}

.barra {
	height: 60px;
	width: 500px;
	border: 1px solid black;
}

.progresso {
	background-color: red;
	height: 100%;
	text-align: center;
}